<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg" style="background-color:rgb(217, 171, 221) ">
                <div class="container-fluid row d-block">
                    <div class="col-12 row">
                        <a class="navbar-brand col-2" href="#">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLec-cz5LHdEGGmOQfmrY-z3TmxAM6PaeEcg&s" alt="Bootstrap" width="50" height="35">
                          </a>
                        <form class="d-flex col-5" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <div class="row justify-content-end">
                          <div class="col-auto">
                              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGTy6B8GY5_eJcrADDXfpvcFuZvflum5DGbA&s" style="width: 30px;" alt="" class="profile-pic">
                          </div>
                          <div class="col-auto ">
                            <a href="carrito.html">
                              <img src="https://static.vecteezy.com/system/resources/previews/015/018/215/non_2x/shopping-cart-icon-cartoon-style-vector.jpg" style="width: 30px;" alt="carrito.html">
                            </a>                         
                          </div>
                          <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                            style="width: 30px; margin-left: 1400px; margin-top: -30px;">
    
                              <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png " style="width: 30px;" alt="Profile Picture" class="profile-pic">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink row justify-content-end" style="width: 30px; margin-left: 1350px;">
                              <a class="dropdown-item" href="login.html">Iniciar Sesión</a>
                              <a class="dropdown-item" href="perfil.html">Perfil</a>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-12 d-flex">
                        <a class="navbar-brand" href="index.html">Inicio</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Mujer
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="conjunto.html">Conjuntos</a></li>
                                    <li><a class="dropdown-item" href="polosM.html"> Polos</a></li>
                                    <li><a class="dropdown-item" href="pantalonM.html">Pantalones </a></li>
                                    <li><a class="dropdown-item" href="Abrigos.html">Abrigos </a></li>
                                    <li><a class="dropdown-item" href="vestidoM.html">Vestidos </a></li>
                                    <li><a class="dropdown-item" href="faldasM.html">Faldas </a></li>
                                    <li><a class="dropdown-item" href="topsM.html">Tops</a></li>
                                    <li><a class="dropdown-item" href="sudaderasM.html">Sudaderas </a></li>
                                  </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Hombre
                                      </a>
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="conjuntoH.html"> Conjuntos</a></li>
                                        <li><a class="dropdown-item" href="polosH.html"> Polos</a></li>
                                        <li><a class="dropdown-item" href="pantalonesH.html"> Pantalones</a></li>
                                        <li><a class="dropdown-item" href="abrigosH.html"> Abrigos</a></li>
                                        <li><a class="dropdown-item" href="chortsH.html">Chorts </a></li>
                                      </ul>
                                </li>
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Niños
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="conjuntosN.html">Conjuntos niñ@s de 2 a 10 años</a></li>
                                    <li><a class="dropdown-item" href="polosN.html">Polos de niñ@s de 2 a 10 años </a></li>
                                    <li><a class="dropdown-item" href="pantalonesN.html">Pantalones niñ@s de 2 a 10 años </a></li>
                                    <li><a class="dropdown-item" href="abrigosN.html">Abrigos de niñ@s de 2 a 10 años</a></li>
                                    <li><a class="dropdown-item" href="vestidosN.html">Vestidos niñas de 2 a 10 años</a></li>
                                  </ul>
                                </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="nosotros.html">Nosotros</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="contacto.html">Contacto</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="detalle_carrito.html">Descripcion</a>
                              </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container-fluid m-0 p-3 mt-4 row">
                <div id="categoria" class="col-12 row m-0 container-fluid p-0">
                    <div id="imagenes_productos" class="col-2 row m-0">
                        <div id="imagen_principal" class="col-12 p-2" style="background: rgb(241, 239, 240); height: 700px;">
                            <div class="container mt-5">
                                <div class="filters">
                                  <h5>Filtros</h5>
                                  
                                  
                                  <div class="filter-section" id="filter-category">
                                    <h6 data-toggle="collapse" data-target="#category-options">Categoría</h6>
                                    <div id="category-options" class="collapse show">
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="category" id="plus-size" value="plus-size">
                                        <label class="form-check-label" for="plus-size">Ropa de Niños y Niñas Plus</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="category" id="women-clothing" value="women-clothing">
                                        <label class="form-check-label" for="women-clothing">Ropa de Niños y Niñas</label>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  
                                  <div class="filter-section" id="filter-size">
                                    <h6 data-toggle="collapse" data-target="#size-options">Talla</h6>
                                    <div id="size-options" class="collapse show">
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="universal-size" value="universal-size">
                                        <label class="form-check-label" for="universal-size">Unitalla</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="xs-size" value="xs-size">
                                        <label class="form-check-label" for="xs-size">Talla 2 al 6</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="s-size" value="s-size">
                                        <label class="form-check-label" for="s-size">Talla 8</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="m-size" value="m-size">
                                        <label class="form-check-label" for="m-size">talla 10</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="l-size" value="l-size">
                                        <label class="form-check-label" for="l-size">Talla 12</label>
                                      </div>
                                    </div>
                                  </div>
                                  
                               
                                  <div class="filter-section" id="filter-color">
                                    <h6 data-toggle="collapse" data-target="#color-options">Color</h6>
                                    <div id="color-options" class="collapse show">
                                      <div class="row">
                                        <div class="color-option" style="background-color: #90f3da;border-radius: 50px; width: 30px; height: 30px; margin:0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #a11129;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #520ef0;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #e2b887;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #b0a760;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #ff5757;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #ffaa00;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #55aa55;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #ff00ff;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #55ffff;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                      </div>
                                    </div>
                                  </div>
                                  
                                 
                                  <div class="filter-section" id="filter-material">
                                    <h6 data-toggle="collapse" data-target="#material-options">Material</h6>
                                    <div id="material-options" class="collapse show">
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="polyester" value="polyester">
                                        <label class="form-check-label" for="polyester">Poliéster</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="polyurethane" value="polyurethane">
                                        <label class="form-check-label" for="polyurethane">Poliuretano</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="corduroy" value="corduroy">
                                        <label class="form-check-label" for="corduroy">Pana</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="satin" value="satin">
                                        <label class="form-check-label" for="satin">Satén</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="velvet" value="velvet">
                                        <label class="form-check-label" for="velvet">Terciopelo</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="silk" value="silk">
                                        <label class="form-check-label" for="silk">Seda</label>
                                      </div>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                              
                              <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                              <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
                              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                        </div>
                      
                    </div>
                    <div id="detalles" class="col-10 p-2" style="background: rgb(241, 239, 240); height: 1000px; margin-top: 20px; overflow:scroll;">
                        <div class="container-fluid m-0 p-3 mt-4 row">
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1TiyXgOyFaIRS24hcsV8jcSDe_NKQALC9_g&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">BB Abrigo</h5>
                                  <p class="card-text">Bebé Abrigo panel teddy con cinturón color blanco con peluche</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2023/10/24/9e/1698143493fef466757a22f22efa7d9810fbe0f428_thumbnail_336x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">chaqueta</h5>
                                  <p class="card-text">Con cuello de solapa para niñas, abrigo de diseño de botones, color liso</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYHW6E65Gon97_QjGpItVoZV3r8FR464gkfQ&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">BB niño </h5>
                                  <p class="card-text">Bebé niño Abrigo de dos tonos con capucha franela con peluche</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2022/08/11/16602001165c8594350e07c2c45ab24aa1be86d9c5_thumbnail_720x.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Bebé 1 pieza Abrigo chaleco con cremallera color negro acolchonado</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2022/10/07/16651091702c728d56c6b23ab67d5af6e91d8ae0a8_thumbnail_336x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">manga reglan</h5>
                                  <p class="card-text">Abrigo Para Joven Con Manga Raglán, Doble Botonadura Y Forro De Peluche</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYsqwd6_r-LZcZUXrRsAgv4Y9AOZHOw1MuBw&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">BB Abrigo</h5>
                                  <p class="card-text">Bebé Abrigo chaleco acolchado con cremallera con capucha acolchonado </p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">  
                                <img src="https://img.ltwebstatic.com/images3_pi/2023/09/19/cc/16951178959ff435070037565e9579d1654041f4e0_thumbnail_336x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Abrigo</h5>
                                  <p class="card-text">Acolchado con diseño de parche de letra con forro teddy con capucha</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6XRy2Pi9Zi1sAnmJC7Kf7WwOoFM9i3HCFVQ&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">parka</h5>
                                  <p class="card-text">Abrigo de piel sintética traje de nieve cálido de peluche,
                                     parka con capucha</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2023/08/09/9b/16915737426e9fa4619ab347ded371bb95630b0eed_thumbnail_336x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Calido</h5>
                                  <p class="card-text">Abrigo cálido de lana con ribetes de piel de conejo en los puños prenda exterior</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2023/11/17/7b/1700150687dfe8aa1959967e181b7b0504373759eb_thumbnail_336x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">SOLOCOTE</h5>
                                  <p class="card-text">SOLOCOTE Niños Abrigo de invierno de manga raglán con botón delantero</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2023/08/31/d9/169344737259cf801f9179260339bfb87d9985204d_thumbnail_336x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">invierno</h5>
                                  <p class="card-text">Chico joven 1 pieza Abrigo de invierno con estampado de dibujos animados con capucha</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2023/08/04/51/1691149337d41ac050d1c1e8ae7ae2aaf387355221_thumbnail_336x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">holgado</h5>
                                  <p class="card-text"> Abrigo de invierno de longitud media con capucha y corte holgado adecuado</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2022/09/27/1664241255b47494bea0411e4f7cd8514c8ff9b4b9_thumbnail_336x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Hinchado</h5>
                                  <p class="card-text">Abrigo Hinchado De Chaleco Frontal Con Cremallera Para Bebé Niña De 1 Pieza</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2023/07/06/1688634056a087647ed5a7aba399340c2965324091_thumbnail_336x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">SHENHE</h5>
                                  <p class="card-text">SHENHE Chaqueta con botones para niño con estampado de letras y bloques de color</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2022/09/16/1663327459a346c52260054e9f03e9adb534741f9e_thumbnail_336x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Abrigos</h5>
                                  <p class="card-text">Abrigo Rosa Larga Cálido Elegante Adecuado Para Uso Diario para Invierno</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2022/09/28/16643499468725d9ac04ee7e52bd982e9ee268f68d_thumbnail_336x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">peluche</h5>
                                  <p class="card-text">Abrigo Con Capucha Forrado De Peluche Con Estampado Floral Para Niña Joven</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqncd4ADIaD7aICcjuc7l3hYFIwLoVNTpIEw&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Meninos</h5>
                                  <p class="card-text">Meninos da Criança Suéter e Moletom Dois tons Gráfico de desenho animado</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpbqiFJixKqha8ZZnpDmIaM59WVdIGmaWaUg&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">telaraña</h5>
                                  <p class="card-text">Conjunto Casual De Ropa De 2 Piezas Para Niños Con Diseño De Telaraña</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAU1DJo_NfqvVTGXD8ouzmNdugOHEqqR44ng&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">forro peluche</h5>
                                  <p class="card-text">Abrigo acolchado de rombos con capucha y forro de peluche para niños</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA7Wr-JbC7ntgvU9AbyRv1FFIsFPAPwpWUaw&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Niñas</h5>
                                  <p class="card-text">Niñas Abrigo con 4 botones cuello v hermosos para niñas color beish</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                </div>
            </div>
    
        
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>