<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg" style="background-color:rgb(217, 171, 221) ">
            <div class="container-fluid row d-block">
                <div class="col-12 row">
                    <a class="navbar-brand col-2" href="#">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLec-cz5LHdEGGmOQfmrY-z3TmxAM6PaeEcg&s"
                            alt="Bootstrap" width="50" height="35">
                    </a>
                    <form class="d-flex col-5" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGTy6B8GY5_eJcrADDXfpvcFuZvflum5DGbA&s" style="width: 30px;" alt="" class="profile-pic">
                        </div>
                        <div class="col-auto ">
                          <a href="carrito.html">
                            <img src="https://static.vecteezy.com/system/resources/previews/015/018/215/non_2x/shopping-cart-icon-cartoon-style-vector.jpg" style="width: 30px;" alt="carrito.html">
                          </a>                         
                        </div>
                        <div class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                          style="width: 30px; margin-left: 1400px; margin-top: -30px;">
  
                            <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png " style="width: 30px;" alt="Profile Picture" class="profile-pic">
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink row justify-content-end" style="width: 30px; margin-left: 1350px;">
                            <a class="dropdown-item" href="login.html">Iniciar Sesión</a>
                            <a class="dropdown-item" href="perfil.html">Perfil</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex">
                    <a class="navbar-brand" href="index.html">Inicio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Mujer
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="conjunto.html">Conjuntos</a></li>
                                    <li><a class="dropdown-item" href="polosM.html"> Polos</a></li>
                                    <li><a class="dropdown-item" href="pantalonM.html">Pantalones </a></li>
                                    <li><a class="dropdown-item" href="Abrigos.html">Abrigos </a></li>
                                    <li><a class="dropdown-item" href="vestidoM.html">Vestidos </a></li>
                                    <li><a class="dropdown-item" href="faldasM.html">Faldas </a></li>
                                    <li><a class="dropdown-item" href="topsM.html">Tops</a></li>
                                    <li><a class="dropdown-item" href="sudaderasM.html">Sudaderas </a></li>
                                  </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Hombre
                                      </a>
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="conjuntoH.html"> Conjuntos</a></li>
                                        <li><a class="dropdown-item" href="polosH.html"> Polos</a></li>
                                        <li><a class="dropdown-item" href="pantalonesH.html"> Pantalones</a></li>
                                        <li><a class="dropdown-item" href="abrigosH.html"> Abrigos</a></li>
                                        <li><a class="dropdown-item" href="chortsH.html">Chorts </a></li>
                                      </ul>
                                </li>
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Niños
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="conjuntosN.html">Conjuntos niñ@s de 2 a 10 años</a></li>
                                    <li><a class="dropdown-item" href="polosN.html">Polos de niñ@s de 2 a 10 años </a></li>
                                    <li><a class="dropdown-item" href="pantalonesN.html">Pantalones niñ@s de 2 a 10 años </a></li>
                                    <li><a class="dropdown-item" href="abrigosN.html">Abrigos de niñ@s de 2 a 10 años</a></li>
                                    <li><a class="dropdown-item" href="vestidosN.html">Vestidos niñas de 2 a 10 años</a></li>
                                  </ul>
                                </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="contacto.html">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="detalle_carrito.html">Descripcion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="detalle_producto" class="col-12 row m-0 container-fluid p-0">
            <h4 class="text-center">Detalles de Producto</h4>
            <div id="imagenes_productos" class="col-6 row m-0 ">
                <div class="col-3">
                    <div class="col-12 text-left" style="background: rgb(237, 219, 245); height: 250px;">
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRENWmHinq6aruvluIfgtGuQ-7eFUWCp_Fm7kdOaaBiWmrrkKn_"
                            alt="" class="w-100 h-100 p-4">
                    </div>

                    <div class="col-12" style="background: rgb(237, 219, 245); height: 250px;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsglUcPlJVZFHpjCMgVU87A-n4kg4SYf4cC4vePKHNet1aXS4D"
                            alt="" class="w-100 h-100 p-4">
                    </div>
                    <div class="col-12" style="background: rgb(237, 219, 245); height: 250px;">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQyHY6ZFvratJygkHw-mvR8NOqvd0JMeolZsNCcD2WjLcCVPnzE"
                            alt="" class="w-100 h-100 p-4">
                    </div>
                </div>


                <div id="imagen_principal" class="col-8 p-2" style="background: rgb(237, 219, 245); height: 750px;">
                    <img src="https://img.ltwebstatic.com/images3_pi/2020/11/30/16067042649f4f41d95a685b505ea40e746d159af1_thumbnail_720x.webp"
                        alt="" class="w-100 h-100 ">
                </div>


            </div>
            <div id="detalles" class="col-6 p-2 " style="background:rgb(237, 219, 245); height: 750px;">
                <h4 class="text-center">Detalles</h4>
                <div class="container mt-5">
                        <h5 class="card-title">Pantalon à taille froncée ceinturé </h5>
                        <div class="d-flex align-items-center">
                            <span class="t-heading-4 v-mid"><span class="vtex-reviews-and-ratings-3-x-stars c-action-primary">
                                <span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--filled">★</span>
                                <span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--filled">★</span>
                                <span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--filled">★</span>
                                <span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--filled">★</span>
                                <span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span>
                            </span></span>
                        
                        </div>
                        <div>
                            <span>+3000 comentarios</span> 
                        </div>
                        <div class="mt-2">
                          <h2 class="text-primary">$48.00 <span class="badge badge-danger">-20% </span></h2>
                        </div>
                        <div class="mt-3 ">
                          <h6>Colores Disponibles</h6>
                          <div class="row">
                            <div class="color-option" style="border-radius: 50px; width: 30px; height: 30px; background-color: rgb(144, 243, 218); margin: 0 8px 0 8px;"></div>
                            <div class="color-option" style="border-radius: 50px; width: 30px; height: 30px; background-color: rgb(161, 17, 41); margin: 0 8px 0 8px;"></div>
                            <div class="color-option" style="border-radius: 50px; width: 30px; height: 30px; background-color: rgb(82, 14, 240); margin: 0 8px 0 8px;"></div>
                            <div class="color-option" style="border-radius: 50px; width: 30px; height: 30px; background-color: rgb(226, 184, 135); margin: 0 8px 0 8px;"></div>
                          </div>
                        </div>
                        <div class="mt-3">
                          <h6>Tallas</h6>
                          <div>
                            <button class="btn btn-outline-primary btn-sm">XS</button>
                            <button class="btn btn-outline-primary btn-sm">S</button>
                            <button class="btn btn-outline-primary btn-sm">M</button>
                            <button class="btn btn-outline-primary btn-sm">L</button>
                          </div>
                        </div>
                        <a href="carrito.html">
                            <button class="btn btn-dark btn-lg btn-block mt-4">AÑADIR AL CARRITO</button>
                        </a>
                        
                        <p class="mt-3 text-muted">Pídelo hoy y resiélolo en torno al 03/04-02/05</p>
                      </div>
                    
                  
            </div>
            <div id="accordionExample" class="accordion col-12 p-2 mb-2">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Más detalles del Producto
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong> BIZwear :</strong>Pantalones de doble botonadura de cintura ancha ropa de trabajo 
                            para oficinas y compromisos
                            <code></code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="text-center">Productos Similares</h4>
        <div id="productos_similares" class="col-12 row p-2 m-0">
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 700px;">
                    <img src="https://img.ltwebstatic.com/images3_pi/2021/08/31/16303768959a6dc2adbcfda2c2b01e9714f8fc25ed_thumbnail_720x.webp"
                        class="card-img-top w-100" alt="..." style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">Pantalon Rayas</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text"></p> Pantalones ajustados en estampado 
                            de rayas cencillas pero elegantes , muy bueno para cualquier tipo de 
                            compromisos
                        </div><br>
                        <div class="text-center">
                            <a href="detalle_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 700px;">
                    <img src="https://img.ltwebstatic.com/images3_pi/2021/09/01/16304614747fa81602cd6565f1a2789401e56ac4d8_thumbnail_720x.webp"
                        class="card-img-top w-100" alt="..." style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">BISSwear</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text"> pantalones de pierna ancha detalle 
                                alto de doble bordadura, comodo para trabajo en oficinas 
                                </p>
                        </div><br>
                        <div class="text-center">
                            <a href="detalle_pantalon.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 700px;">
                    <img src="https://img.ltwebstatic.com/images3_pi/2022/10/13/1665632443d355360a0fff2cdced0806bfc1377dc9_thumbnail_720x.webp"
                        class="card-img-top w-100" alt="..." style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">Pantalon Pinza </h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">  esscene pantalones rectos detalle alto 
                                tiene cierre y boton, detras es tipo corazon 
                            </p>
                        </div><br>
                        <div class="text-center">
                            <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 700px;">
                    <img src="https://img.ltwebstatic.com/images3_pi/2022/02/15/1644891148f89921f8002b5e4c7f5edfcb01804d3d_thumbnail_720x.webp"
                        class="card-img-top w-100" alt="..." style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">PANTALON  DE VESTIR </h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text"> Pantalon recto con cintura alta  
                               y cinturon perfecto para oficinas 
                            </p>
                        </div><br>
                        <div class="text-center">
                            <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="col-12" style="background: rgb(252, 252, 252); height: 100px;">
            <div class="container-fluid">
              <div class="row bg-dark text-white py-3">
                <div class="col-4">
                  <h5>Atención al cliente</h5>
                  <ul class="list-unstyled">
                    <li>Atención al cliente</li>
                  </ul>
                </div>
                <div class="col-4">
                  <h5>Guía de compra</h5>
                  <ul class="list-unstyled">
                    <li>Crear una cuenta</li>
                    <li>Pago</li>
                    <li>Envío</li>
                    <li>Protección del comprador</li>
                  </ul>
                </div>
                <div class="col-4">
                  <h5>Colabora con nosotros</h5>
                  <ul class="list-unstyled">
                    <li>Nosotros</li>
                    <li>Centro de dropshipping</li>
                    <li>Iniciar sesión como vendedor</li>
                  </ul>
                </div>
              </div>
              <div class="row bg-light py-3">
                <div class="col-6">
                  <h5>Pagar con</h5>
                  <div class="d-flex justify-content-start">
                    <a href="https://www.visa.com.pe/"><img src="https://www.visa.com.co/dam/VCOM/regional/lac/SPA/Default/Partner%20With%20Us/Info%20for%20Partners/Info%20for%20Small%20Business/visa-pos-800x400.jpg" alt="Visa" class="mx-2"
                        style="width: 80px;"></a>
                    <a href="https://www.viabcp.com/"><img src="https://www.mercadonegro.pe/wp-content/uploads/2020/09/imagen-bcp.jpg" alt="Mastercard" class="mx-2"
                        style="width: 80px;"></a>
                    <a href="https://www.yape.com.pe/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyQQJAsQ_pJ53VO2oZIQJrX9CjdPTam77IGw&s" alt="yape" class="mx-2"
                        style="width: 80px;"></a>
                    <a href="https://www.paypal.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsBLWz7noWqXK7MsVEyXylmZ9hEmZQUeducQ&s" alt="pay pal" class="mx-2"
                        style="width: 80px;"></a>
                  </div>
                </div>
                <div class="col-6">
                  <h5>No te olvides de seguirnos en:</h5>
                  <div class="d-flex justify-content-end">
                    <a href="https://es-la.facebook.com/" class="text-dark mx-2">
                      <img src="https://img.freepik.com/vector-premium/icono-facebook-vector-3d-redes-sociales_721791-1528.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1720742400&semt=ais_user" alt="Facebook" class="mx-2"
                      style="width: 80px;">
                    </a>
                    <a href="https://x.com/?lang=es" class="text-dark mx-2">
                      <img src="https://www.brandemia.org/wp-content/uploads/2012/06/twitter_logo_principal.jpg" alt="Twitter" class="mx-2" style="width: 80px;">
                    </a>
                    <a href="https://www.instagram.com/" class="text-dark mx-2">
                      <img src="https://w7.pngwing.com/pngs/750/461/png-transparent-instagram-application-logo-logo-computer-icons-instagram-miscellaneous-text-trademark.png" alt="Instagram" class="mx-2"
                      style="width: 60px;">

                    <a href="https://www.whatsapp.com/" class="text-dark mx-2">
                      <img src="https://cdn.pixabay.com/photo/2015/08/03/13/58/whatsapp-873316_640.png" alt="WhatsApp" class="mx-2" style="width: 60px;">
                    </a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


</html>     