<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg" style="background-color:rgb(217, 171, 221) ">
      <div class="container-fluid row d-block">
          <div class="col-12 row">
              <a class="navbar-brand col-2" href="#">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLec-cz5LHdEGGmOQfmrY-z3TmxAM6PaeEcg&s" alt="Bootstrap" width="50" height="35">
                </a>
              <form class="d-flex col-5" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              <div class="row justify-content-end">
                <div class="col-auto">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGTy6B8GY5_eJcrADDXfpvcFuZvflum5DGbA&s" style="width: 30px;" alt="" class="profile-pic">
                </div>
                <div class="col-auto ">
                  <a href="carrito.html">
                    <img src="https://static.vecteezy.com/system/resources/previews/015/018/215/non_2x/shopping-cart-icon-cartoon-style-vector.jpg" style="width: 30px;" alt="carrito.html">
                  </a>                         
                </div>
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                  style="width: 30px; margin-left: 1400px; margin-top: -30px;">

                    <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png " style="width: 30px;" alt="Profile Picture" class="profile-pic">
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink row justify-content-end" style="width: 30px; margin-left: 1350px;">
                    <a class="dropdown-item" href="login.html">Iniciar Sesión</a>
                    <a class="dropdown-item" href="perfil.html">Perfil</a>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-12 d-flex">
              <a class="navbar-brand" href="index.html">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Mujer
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="conjunto.html">Conjuntos</a></li>
                          <li><a class="dropdown-item" href="polosM.html"> Polos</a></li>
                          <li><a class="dropdown-item" href="pantalonM.html">Pantalones </a></li>
                          <li><a class="dropdown-item" href="Abrigos.html">Abrigos </a></li>
                          <li><a class="dropdown-item" href="vestidoM.html">Vestidos </a></li>
                          <li><a class="dropdown-item" href="faldasM.html">Faldas </a></li>
                          <li><a class="dropdown-item" href="topsM.html">Tops</a></li>
                          <li><a class="dropdown-item" href="sudaderasM.html">Sudaderas </a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Hombre
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="conjuntoH.html"> Conjuntos</a></li>
                              <li><a class="dropdown-item" href="polosH.html"> Polos</a></li>
                              <li><a class="dropdown-item" href="pantalonesH.html"> Pantalones</a></li>
                              <li><a class="dropdown-item" href="abrigosH.html"> Abrigos</a></li>
                              <li><a class="dropdown-item" href="chortsH.html">Chorts </a></li>
                            </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Niños
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="conjuntosN.html">Conjuntos niñ@s de 2 a 10 años</a></li>
                          <li><a class="dropdown-item" href="polosN.html">Polos de niñ@s de 2 a 10 años </a></li>
                          <li><a class="dropdown-item" href="pantalonesN.html">Pantalones niñ@s de 2 a 10 años </a></li>
                          <li><a class="dropdown-item" href="abrigosN.html">Abrigos de niñ@s de 2 a 10 años</a></li>
                          <li><a class="dropdown-item" href="vestidosN.html">Vestidos niñas de 2 a 10 años</a></li>
                        </ul>
                      </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="detalle_carrito.html">Descripcion</a>
                    </li>
                </ul>
              </div>
          </div>
      </div>
  </nav>
            <div class="container-fluid m-0 p-3 mt-4 row">
                <div id="categoria" class="col-12 row m-0 container-fluid p-0">
                    <div id="imagenes_productos" class="col-2 row m-0">
                        <div id="imagen_principal" class="col-12 p-2" style="background: rgb(241, 239, 240); height: 600px;">
                            <div class="container mt-5">
                                <div class="filters">
                                  <h5>Filtros</h5>
                                  
                                  
                                  <div class="filter-section" id="filter-category">
                                    <h6 data-toggle="collapse" data-target="#category-options">Categoría</h6>
                                    <div id="category-options" class="collapse show">
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="category" id="plus-size" value="plus-size">
                                        <label class="form-check-label" for="plus-size">Ropa de Mujer Plus</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="category" id="women-clothing" value="women-clothing">
                                        <label class="form-check-label" for="women-clothing">Ropa de Mujer</label>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  
                                  <div class="filter-section" id="filter-size">
                                    <h6 data-toggle="collapse" data-target="#size-options">Talla</h6>
                                    <div id="size-options" class="collapse show">
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="universal-size" value="universal-size">
                                        <label class="form-check-label" for="universal-size">Unitalla</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="xxs-size" value="xxs-size">
                                        <label class="form-check-label" for="xxs-size">XXS</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="xs-size" value="xs-size">
                                        <label class="form-check-label" for="xs-size">XS</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="s-size" value="s-size">
                                        <label class="form-check-label" for="s-size">S</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="m-size" value="m-size">
                                        <label class="form-check-label" for="m-size">M</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="l-size" value="l-size">
                                        <label class="form-check-label" for="l-size">L</label>
                                      </div>
                                      <a href="#" class="text-primary">+ Ver Más</a>
                                    </div>
                                  </div>
                                  
                               
                                  <div class="filter-section" id="filter-color">
                                    <h6 data-toggle="collapse" data-target="#color-options">Color</h6>
                                    <div id="color-options" class="collapse show">
                                      <div class="row">
                                        <div class="color-option" style="background-color: #90f3da;border-radius: 50px; width: 30px; height: 30px; margin:0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #a11129;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #520ef0;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #e2b887;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #b0a760;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #ff5757;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #ffaa00;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #55aa55;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #ff00ff;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                        <div class="color-option" style="background-color: #55ffff;border-radius: 50px; width: 30px; height: 30px;margin: 0 8px 5px 8px;"></div>
                                      </div>
                                    </div>
                                  </div>
                                  
                                 
                                  <div class="filter-section" id="filter-material">
                                    <h6 data-toggle="collapse" data-target="#material-options">Material</h6>
                                    <div id="material-options" class="collapse show">
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="polyester" value="polyester">
                                        <label class="form-check-label" for="polyester">Poliéster</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="polyurethane" value="polyurethane">
                                        <label class="form-check-label" for="polyurethane">Poliuretano</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="corduroy" value="corduroy">
                                        <label class="form-check-label" for="corduroy">Pana</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="satin" value="satin">
                                        <label class="form-check-label" for="satin">Satén</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="velvet" value="velvet">
                                        <label class="form-check-label" for="velvet">Terciopelo</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="silk" value="silk">
                                        <label class="form-check-label" for="silk">Seda</label>
                                      </div>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                              
                              <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                              <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
                              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                        </div>
                      
                    </div>
                    <div id="detalles" class="col-10 p-2" style="background: rgb(241, 239, 240); height: 1000px; margin-top: 20px; overflow:scroll;">
                        <div class="container-fluid m-0 p-3 mt-4 row">
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0xW6P-sDwF4sH_IYDCpZeIr9xflzYgACtUw&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text"> Nuevo Abrigo de Felpa de Otoño e Invierno Para Mujer es Simple, calido Y de Moda</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://i.pinimg.com/474x/72/c7/d8/72c7d8cd947cc7e3054789972531a797.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYz6Or9gj-u4jLLwkQ0w57lXTEufl7gciKqw&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-UB2shOnAVWssGOfliXlusrC7qCwjg22F_Q&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUpzyfNmP7mtsUgCU2LLlxBWwiKqVGEEHjIg&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://image.made-in-china.com/318f0j00OQaUfRIyvikb/9741-1-mp4.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-FogzyFTkGXEDKu5XKhoBieitQru_C7W4Mg&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiB0OFQzrwaderqu9cPFb-He9Xf4hS2ky1GQ&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj6onWo_Slgo89fwWtiZTmbBEI7Ve_wZjAVA&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW6uGi16dKWYb0Viz50SrGDi0_2LYut2jH2A&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLcflKTuUFDuo2iy3fXEjVd51IS7F9q2beoQ&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnNjzSzx9GwFXUVuOdce0RjMwYH84iWWTZow&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB4_TOb_LfU_0SmxjLUaHBUxFB0mOHYgCy2w&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfl_bvJRTxBifTAX55-Wv876xcxal2LXE_aQ&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEt-m9WhJB0ypkDgZki5bUJSvP7-mUI2pbpxWtk2e3sxAsrVnkwnuDKTskjbQ0ee9vEO4&usqp=CAU" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLAqmk3J0-0aI0wUd4Lekkc926qAxLoyHHH3yvFkvSDb6iAd4HRc6XyMAoeIzRQf2JQ-w&usqp=CAU" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://i.pinimg.com/736x/25/1e/99/251e99b92bfa51b94dba4e499613e8b4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2024/06/15/3a/17184422395476b5e56965654e11e7a2131a48940a_thumbnail_336x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://img.ltwebstatic.com/images3_pi/2021/12/17/163967291326032d4c47a565f192176e301ec777d5_thumbnail_720x.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                                <div class="card ">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIeuxsfNLr1CpTADv74U4sgNhNHm0YCO53Tgid-Mg-UMwQXPlTR0Azn3RJv2MdWKYGgPM&usqp=CAU" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="detalle_carrito.html" class="btn btn-primary">Ver Detalles</a>
                                  <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                                </div>
                              </div>
                            </div>
                </div>
            </div>
    
        
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>